version: "3.8"

services:
  dokuwiki:
    image: lscr.io/linuxserver/dokuwiki:latest
    container_name: dokuwiki
    restart: unless-stopped

    ports:
      - "8080:80"

    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Campo_Grande

    volumes:
      - ./data:/config